.banner-container {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: rgb(152 152 152 / 39%);
}

.logo {
margin-top: 13px;
margin-left: 10px;
height: 5vw;
max-height: 52px;
min-height: 39px;
}

.Link-Container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  min-width: 225px;
  justify-content: space-between;
}

.Menu-Container, .Rewards-Container, .Gift-Container {
  margin-top: 24px;
}

.Menu-Container:hover, .Rewards-Container:hover, .Gift-Container:hover {
  border-bottom: 6px solid #006341;
}

.Link {
  text-decoration: none;
  color:black;
  transition: color .3s;
}

.Link:hover {
  color: #006341;
}